@model HomeVM

<style>
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 2rem; 
        color: #ffa300;
        border-radius: 50%; 
    }
        .carousel-control-prev:hover,
        .carousel-control-next:hover {
            color: #ffa30; 
        }
        
</style>
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="height: 500px;">
            <div class="carousel-item active">
                <img src="~/img/slide2.jpg" class="d-block w-100" alt="..." style="height: 100%; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="~/img/slide1.jpg" class="d-block w-100" alt="..." style="height: 100%; object-fit: cover;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="top: 50%; transform: translateY(-50%);">
            <span  aria-hidden="true"><i class="bi bi-chevron-left "></i></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="top: 50%; transform: translateY(-50%);">
            <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>

        </button>
    </div>

       
    </div>
<form method="post" style="background-color:black" asp-action="GetHotelsByDate" data-ajax-method="post" data-ajax="true" data-ajax-mode="replace"
      data-ajax-update="#VillasList">
        <div class="row p-0 mx-0 py-4">

            <div class="col-12 col-md-5  offset-md-1 pl-2  pr-2 pr-md-0">
                <div class="form-group">
                    <label>Giriş Tarihi</label>
                    <input asp-for="CheckInDate" type="date" class="form-control" />
                </div>
            </div>

            <div class="col-8 col-md-3 pl-2 pr-2">
                <div class="form-group">
                    <label>Kaç Gece</label>
                    <select class="form-select">
                        @for(var i = 1; i <= 11; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-4 col-md-2 pt-4 pr-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="bi bi-search"></i>  &nbsp; Kontrol Et
                    </button>

                </div>
            </div>
        </div>
        <partial name="_HotelList" model="Model" />
    </form>
</div>